[tasks]
db_poll_interval = 5
http_timeout = 20

[workers]
secrets = ["secret1", "secret2"]
endpoint_port = 12346
dispatcher_host = 127.0.0.1
dispatcher_port = 12347
inactivity_interval = 30

[database]
host = localhost
port = 5432
database = pypatrol_test
user = pypatrol
password = onaroll

[mail]
smtp_server = smtp.server.com
smtp_port = 465
smtp_user = notifier@domain.com
smtp_password = some_long_copy_paste_password
